.text-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.commandButtonMargin {
	margin: 0.5em !important;
}

td.right-td {
	padding-left: 2em;
}

.boldText {
	font-weight: bold;
}

.centered {
	text-align: center;
}

.marginLeft7 {
	margin-left: 7.5%;	
}

.marginLeft15 {
	margin-left: 15%;
}

.width25 {
	width: 25%;
}

.white-icon .ui-icon {
    background-image: url("yellow/ui-icons_ffffff_256x240.png");
}

.white-icon .ui-state-hover .ui-icon {
    background-image: url("yellow/ui-icons_ce1c18_256x240.png");
}

.white-icon.ui-state-hover .ui-icon {
    background-image: url("yellow/ui-icons_ce1c18_256x240.png");
}

.margin-1em {
	margin: 1em;
}

.margin-2em {
	margin: 2em;
}

.m-r-1em {
	margin-right: 1em;
}

.loader-image {
	display: none;
}

label.block-label {
	display: block;
}

.verifica-stato-neet-table {
	margin-left: 5%;
	display: inline-block;
	border-collapse:collapse;
	width: 85%;
}

.verifica-stato-neet-table td {
	padding: 0.5em 2em;
	border: 1px solid black;
}

.verifica-stato-neet-table th {
	padding: 0.2em 1em;
	border: 1px solid black;
}

.insert-verifica-stato-neet-table th {
	background-color: #C0C0C0;	
	text-align: center;
}

.insert-verifica-stato-neet-table .neet-odd-row {
	background: #F0F0F0 !important;
}

.insert-verifica-stato-neet-table .neet-even-row {
	background: #FFFFFF !important;
}

.insert-verifica-stato-neet-table td.content-td {
	padding: 0.5em 1em;
}

.insert-verifica-stato-neet-table td:first-child {
	width: 55%;
}

.insert-verifica-stato-neet-table label {
	margin-right: 1em;
}

.insert-verifica-stato-neet-table .ui-selectoneradio td:first-child {
	width: auto;
}

.insert-verifica-stato-neet-table .ui-radiobutton {
	margin-left: 0.5em !important;
	margin-right: 0.5em !important;
}

.neet-fileupload {
	width: 60%;
}

/* DATATABLE (finchè non trovo una soluzione migliore) */
table.dataTable {
	border-collapse: collapse;
	border: 1px solid black;
}

table.dataTable td.notSortable, table.dataTable th {
	padding: 0.5em;
	border: 1px solid black;
}

table.dataTable tr:nth-child(even) {
	background-color: #E8E8E8;
}

table.dataTable th {
	background-color: #383838;
	color: white;
}

/* this used in the search form of utente/offertelavoro/ricerca_new.xhtml
-----------------------------------------------------------------------------*/
.filter-column {
    float: left;   
    width: 270px;
    margin-left: -100%;
}

.filtration-content {   
    margin-left: 280px;
}

.filter-liquid {
    float: left;
    width: 100%;
}

.ui-datatable-data .ui-widget-content {
	border: white !important;
}

.panGrid tr, .panGrid td {
    border-style: none !important
}


/** Primefaces upload */
.files td.name {
    word-break:keep-all;
 }
 
.ui-accordion .ui-accordion-content {
  padding: 0.2em 0.2em !important; 
  border-top: 0 !important;
  margin-top: -2px !important;
  position: relative !important;
  top: 1px !important;
  margin-bottom: 2px !important;
  overflow: hidden !important; 
  zoom: 1 !important;  
}

.ui-datatable-scrollable-body table {
	width: auto !important;		
}

.ui-datatable tbody td {
	white-space: normal !important;
	font-size: small !important;
  	font-weight: normal !important;
  	text-align: center;		
}

.input-ricerca-dove input {
	background-image: url("../../resources/images/search-bg-dove.png");	
	padding-left: 25px;
}

.ricerca_new-switch-button {
	float: right;
	text-decoration: none !important;
	font-weight: bold;	
	color: #444444;
	margin: 6px;
}

.width50px {
	width: 50px;
}

.width80 {
	width: 80px;
}

.width100 {
	width: 100px;
}

.ui-state-focus {
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset !important;
}
			
.ui-selectonemenu .ui-state-focus {
	background-color: #f7e7bd !important;
	color: #333333 !important;
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset !important;
}

.ui-selectonemenu {
	/* background-color: #ffcb39 !important; */
	background-color: #fff;
	color: #525152;
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;				
}

.ui-selectonemenu .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow:	0 0 8px #f7e7bd, 0 1px 0 #edc867 inset !important;				
}

.cleanButton  {
	background-color: #525152  !important;
	color: white !important;
	box-shadow: 0 0 0;
	text-shadow: none;
	background-image: none;
}

.cleanButton:hover  {
	background-color: #ce1c18;
	color: white;
	box-shadow: 0 0 8px #777777, 0 1px 0 #FFFFFF inset;
	border-color: #888888;
}	

.ui-accordion .ui-accordion-header a {
	padding: 0.35em 0.5em 0.35em 2.2em;
}

.ui-datatable-scrollable-body {
  width: 100%;
}

.ui-button.yellowButton span.ui-icon {
    background-image: url("../../resources/css/myportal/images/ui-icons_515151_256x240.png") !important;
}

.ui-state-highlight .ui-icon {
    background-image: url("../../resources/css/yellow/ui-icons_yellow_256x240.png");
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active  {
	background-color: #fffbd6;
	border: 1px solid #c48d00;
}

.contentMappa {   
    margin-left: 50px;
}

.testofiltri {
	color: #4F4F4F;	
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 0.35em 0.5em 0.35em 3.0em;    
}

.maxheight22 {
	max-height: 22px;
}

.toggler {
	display: inline-block;
    margin-top: 4px;
}

.btnControls {
	background-color: #F7F7F7 !important;
}

td button.ui-button.actionButton {
	background: #FFCC3D;
}

.sede-rimossa-row {
	background-color: #F08080;
	font-weight: bold;
}